/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elemento: todos os elementos html são mencionados sem . ou #*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color:white;
    padding: 1rem 2rem;
}
